<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new note</title>
</head>
<body>
    <form action="/notes" method="post">
        <label for="add">New note: </label>
        <input type="text" placeholder="Enter your note" id="add" name="content">

        <button>Submit</button>
    </form>
</body>
</html>