<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new note</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/add.css">
</head>

<body>
    <!-- <div class="header">
        <div class="left">
            <h1>Logos</h1>
        </div>
        <div class="center">
            <ul>
                <li><a href="http://localhost:8080/">Home</a></li>
                <li><a href="http://localhost:8080/notes">My Notes</a></li>
                <li><a href="http://localhost:8080/notes/add">New Note</a></li>
                <li><a href="http://localhost:8080/about">About</a></li>
                <li><a href="http://localhost:8080/contact">Contact</a></li>
            </ul>
        </div>
        <div class="right">
            <button>Download App</button>
            <button>Log In / Sign Up</button>
        </div>
    </div> -->
    <form action="/notes" method="post">
        <h3>Add a new note</h3>
        <div class="form-first">
            <h4>Title: </h4>
            <input type="text" placeholder="Enter your title" id="title" name="title" required>
        </div>

        <br>

        <div class="form-second">
            <h4>Content: </h4>
            <input type="text" placeholder="Enter your content" id="content" name="content" required>
        </div>

        <button>Submit</button>
    </form>

    <script>
        let title = document.getElementById("title").value;
        let content = document.getElementById("content").value;

        let notes = JSON.parse(localStorage.getItem("notes")) || [];

        notes.push({ title, content });
        localStorage.setItem("notes", JSON.stringify(notes));

    </script>
</body>

</html>