<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new note</title>
    <link rel="stylesheet" href="/add.css">
</head>

<body>
    <form action="/notes" method="post">
        <h3>Add a new note</h3>
        <div class="form-first">
            <h4>Title: </h4>
            <input type="text" placeholder="Enter your title" id="title" name="title" required>
        </div>

        <br>

        <div class="form-second">
            <h4>Content: </h4>
            <input type="text" placeholder="Enter your content" id="content" name="content" required>
        </div>

        <button>Submit</button>
    </form>

    <script>
        let title = document.getElementById("title").value;
        let content = document.getElementById("content").value;

        let notes = JSON.parse(localStorage.getItem("notes")) || [];

        notes.push({ title, content });
        localStorage.setItem("notes", JSON.stringify(notes));

    </script>
</body>

</html>