<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | <%= note.title %></title>
</head>
<body>
    <form action="/notes/edit/<%=note.id%>?_method=PUT" method="post">
        <div class="note">
            <input type="text" name="title" value="<%= note.title %>">
            <textarea name="content"><%= note.content %></textarea>
            
            <button>Update Note</button>
        </div>
    </form>
</body>
</html>