<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <!-- <link rel="stylesheet" href="/public/home.css"> -->
</head>
<body>
    <div class="container">
        <h1>Notes App</h1>
        <h2>Manage your notes seamlessly, they are stored in our servers, and you are just some clicks away from them</h2>
    </div>

</body>
</html>