<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <div class="header">
        <div class="left">
            <h1>Logos</h1>
        </div>
        <div class="center">
            <ul>
                <li><a href="http://localhost:8080/">Home</a></li>
                <li><a href="http://localhost:8080/notes">My Notes</a></li>
                <li><a href="http://localhost:8080/notes/add">New Note</a></li>
                <li><a href="http://localhost:8080/about">About</a></li>
                <li><a href="http://localhost:8080/contact">Contact</a></li>
            </ul>
        </div>
        <div class="right">
            <button>Download App</button>
            <button>Log In / Sign Up</button>
        </div>
    </div>
    <div class="heroSection">
        <h1>Get more from your note-taking app</h1>
        <h2>Capture important ideas and information in ways that help you stay productive.</h2>

        <button>Try for free</button>
    </div>


</body>

</html>