<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="/notes.css">
</head>
<body>
    <div class="add">
        <a href="http://localhost:8080/notes/add">Add a new note</a>
    </div>
    <div class="container">
        <% for (note of notes) { %>
            <div class="note">
                <h3><%= note.title %> </h3>
                <h5><%= note.content %> </h5>
            </div>
        <% } %>
    </div>
</body>
</html>

