<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="/notes.css">
</head>
<body>
    <div class="first">
        <a href="/notes/add"><button>Add a new note</button></a>
    </div>
    <div class="container">
        <% for (note of notes) { %>
            <div class="note">
                <h3><%= note.title %> </h3>
                <textarea><%= note.content %> </textarea>
            </div>
        <% } %>
    </div>
</body>
</html>

